# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual env
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Deployment
*.db
